
    :root {
      --bg-color: #1e1e1e;
      --panel-color: #252526;
      --text-color: #ffffff;
      --accent-color: #007acc;
      /* blue accent */
      --border-color: #333;
    }

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    html,
    body {
      height: 100%;
      width: 100%;
      background: var(--bg-color);
      color: var(--text-color);
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    main {
      height: 100%;
      width: 100%;
      display: flex;
      padding: 1.2rem;
      gap: 0.7rem;


    }

    #left {

      width: 50%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 5px;

    }

    #right {
      display: flex;
      flex-direction: column;
      flex: 1;
    
      width: 50%;
      height: 100%;
    }

    .inputo {
      display: flex;
      flex-direction: column;
      flex: 1;
      background: blue;
      border-radius: 10px;
      padding: 0.3rem;
    }
    #left h2{
      font-size: 20px;
      text-transform: capitalize;

    }

    textarea {
      width: 100%;
      flex-grow: 1;
      flex: 1;
      background: var(--panel-color);
      border: 0.1rem solid var(--border-color);
      font-size: 1.2rem;
      color: var(--text-color);
      outline: none;
      padding: 2px;
      border-radius: 8px;


    }
    #inp1{
      background: #EE3435;

    }
    #inp2{
      background: #0491DC;
    }
    #inp3{
      background: #EA9C2F;

    }


    #html{
      background: #EE3435;
    }
    #css{
      background: #0491DC;
    }
    #js{
      background: #EA9C2F;
    }
    #outou{
      border: 5px solid #60A313;
      border-radius: 5px;
    }
    #right{
      border: 5px solid #60A313;
      border-radius: 20px;
    }
    #outop{
      background: #60A313 ;
    }
    label{
      font-size: 20px;
      text-transform: capitalize;
      background: blue;
      border-radius: 8px 8px 0px 0px;
    }

    iframe {
      flex: 1;
      background: var(--border-color);

    }
